mixin footer-underline-content(modificator)
    div(class= modificator + " footer-underline-content")
        div.footer-underline-content__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
        div.footer-underline-content__icons
            include ../../../icons/social_networks/social_networks.pug
            +social_networks("footer-underline")
