mixin logotype(modificator)
    div(class="logo "+ modificator)
        img.company_icon(src="../ui_kit/header_elements/company_icon/svg/icon.svg")
        img.company_name(src="../ui_kit/header_elements/company_icon/svg/toxin.svg")