@import "../../../ui_kit/list-of-counted-items/list-of-counted-items";
@import "../../../ui_kit/buttons/filled/button-filled.scss";
@import "../../../ui_kit/calendar/calendar";
@import "../../../ui_kit/input_fields/two_places/two_places_input.scss";
@import "../../../ui_kit/input_fields/one_place/one_place_input.scss";

[class $= __search-form]{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 374px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;

    .search-form__button-filled{
        width: 100%;
        height: 44px;
        padding: 0px;
        margin-top: 31px;
        margin-bottom: 30px;

        .additional-icon{
            left: 86%;
        }
    }

    .search-form-desctiption{
        margin-top: 40px;
    }

    form{
        width: 100%;
    }

    
    input{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        height: 42px;

        background: none;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 15px;
    }

    .search-form__date-input{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
        :nth-child(1){
            margin-right: auto;
        }

        .search-form__date-input-place{
            width: 47.2%;

            input{    
                background: none;
                border: none;
                box-sizing: border-box;
                padding-left: 15px;
            }
    
            .search-form__date-input-field{
                display: flex;
                flex-direction: row;
                align-content: center;
                background: #FFFFFF;
                border: 1px solid rgba(31, 32, 65, 0.25);
                box-sizing: border-box;
                border-radius: 4px;
    
                .search-form__start-date{
                    width: 106px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
    
                .search-form__end-date{
                    width: 106px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
    
                .calendar-expand-elemet{
                    cursor: pointer;
                    text-align: center;
                    line-height: 42px;
                    width: 44px;
                    color: rgba(31, 32, 65, 0.5);
                }
            }
    
            .search-form__start-date-desctiption{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 9px;
                margin-bottom: 7px;
                text-transform: uppercase;
                color: #1F2041;
            }
    
            .search-form__end-date-desctiption{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 9px;
                margin-bottom: 7px;
                text-transform: uppercase;
                color: #1F2041;
            }
    
            .search-form__end-date{
                width: 150px;
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }

    .search-form__people-input{

        .search-form__number-of-people-desctiption{
            font-family: Montserrat;
            width: 320px;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }

        .search-form__number-of-people-input-field{
            border: 1px solid rgba(31, 32, 65, 0.25);
            width: 318px;
            border-radius: 4px;
            display: flex;
            align-content: center;

            .search-form__number-of-people{
                margin-right: auto;
                background: none;
                border: none;
                box-sizing: border-box;
                padding-left: 13px;
                text-overflow: ellipsis;
                width: 280px;
            }

            .people-expand-elemet{
                -webkit-user-select: none;
                cursor: pointer;
                text-align: center;
                line-height: 42px;
                width: 44px;
                color: rgba(31, 32, 65, 0.5);
            }
        }
        
    }

    .search-form-calendar{
        left: 30px;
        right: 30px;
        display: none;
        position: absolute;
        z-index: 1000;
        top: 200px;
    }

    .search-form-list{
        left: 30px;
        right: 30px;
        display: none;
        position: absolute;
        top: 270px;
        z-index: 100;
    }
}

.calender-main{
    margin-top: 50px;
    margin-bottom: 50px;
}

@media all and (max-width: 380px){
    .search-form{
        width: 330px;
        height: 364px;
    }
}