@import "../../../ui_kit/list-of-counted-items/list-of-counted-items";

.search-form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 374px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .search-form-desctiption{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 320px;
        height: 60px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1F2041;
    }

    .search-form__date-input{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 320px;
        margin-bottom: 20px;
        :nth-child(1){
            margin-right: auto;
        }
    }

    .search-form__people-input{

        .search-form__number-of-people-desctiption{
            font-family: Montserrat;
            width: 320px;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }

        .search-form__number-of-people-input-field{
            border: 1px solid rgba(31, 32, 65, 0.25);
            width: 318px;
            border-radius: 4px;
            display: flex;
            align-content: center;

            .search-form__number-of-people{
                margin-right: auto;
                background: none;
                border: none;
                box-sizing: border-box;
                padding-left: 13px;
            }

            .people-expand-elemet{
                text-align: center;
                line-height: 44px;
                width: 44px;
                color: rgba(31, 32, 65, 0.5);
            }
        }
        
    }

    input{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        height: 44px;

        background: none;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 15px;
    }

    .search-form-calendar{
        display: none;
        position: absolute;
        top: 210px;
        left: 29px;
    }

    .search-form-list{
        position: absolute;
        top: 278px;
    }

    .search-form__date-input-place{

        input{    
            background: none;
            border: none;
            box-sizing: border-box;
            padding-left: 15px;
        }

        .search-form__date-input-field{
            display: flex;
            flex-direction: row;
            align-content: center;
            background: #FFFFFF;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;

            .search-form__start-date{
                width: 106px;
                padding-top: 12px;
                padding-bottom: 12px;
            }

            .search-form__end-date{
                width: 106px;
                padding-top: 12px;
                padding-bottom: 12px;
            }

            .calendar-expand-elemet{
                text-align: center;
                line-height: 44px;
                width: 44px;
                color: rgba(31, 32, 65, 0.5);
            }
        }

        .search-form__start-date-desctiption{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }

        .search-form__end-date-desctiption{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }

        .search-form__end-date{
            width: 150px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

.calender-main{
    margin-top: 50px;
    margin-bottom: 50px;
}