mixin search-form(modificator)
    script(src="main/search-form/search-from.js")
    script(src="../ui_kit/input_fields/two_places/two_places_button.js")
    script(src="../ui_kit/input_fields/one_place/one_place_button.js")
    div(class= modificator + "__search-form")
        include ../../../ui_kit/calendar/calendar.pug
        +calendar('search-form-calendar')

        include ../../../ui_kit/list-of-counted-items/list-of-counted-items.pug
        +list-of-counted-items('search-form-list', 'main/search-form/list-of-counted-people.js', 'ВЗРОСЛЫЕ', 'ДЕТИ', 'МЛАДЕНЦЫ')

        div.search-form-desctiption.text-header Найдём номера под ваши пожелания
        form(action="http://localhost:1234/search_room_page/index.html")
            include ../../../ui_kit/input_fields/two_places/two_places_input.pug
            +two_places_input('search-form', 'search-form__start-date', 'прибытие', 'search-form__end-date', 'выезд')
            include ../../../ui_kit/input_fields/one_place/one_place_input.pug
            +one_place_input("search-form-people", "гости", "Сколько гостей", "search-form__number-of-people", "people")
            include ../../../ui_kit/buttons/filled/button-filled.pug
            +button-filled("search-form__button-filled", "ПОДОБРАТЬ НОМЕР", "arrow_forward")
            
        script(type="text/javascript").
            $(document).ready(function(){
                $('.search-form-calendar').css('display', "none");
            });