mixin header-registration(modificator)
    .header-content
        .header-content__company-icons
            include ../../icons/company_icon/logotype.pug
            +logotype("header-content__header-logo")
        .header-content__navigation
            include ../header_elements/navigation/simple/simple-element.pug
            include ../header_elements/navigation/drop-down/drop-down-element.pug
            +simple-element("header-content__nav-simple", "Home")
            +simple-element("header-content__nav-simple", "About Us")
            +drop-down-element("header-content__nav-drop", "Services")
            +simple-element("header-content__nav-simple", "Careers")
            +simple-element("header-content__nav-simple", "News")
            +drop-down-element("header-content__nav-drop", "Documentation")
        .header-content__header-buttons
            include ../../buttons/light/button-light.pug
            include ../../buttons/filled/button-filled.pug
            +button-light("header-content__button-light", "LOGIN")
            +button-filled("header-content__button-filled", "REGISTRATION", "")
        
