@import "../../icons/company_icon/logotype";
@import "../header_elements/navigation/drop-down/drop-down-element.scss";
@import "../header_elements/navigation/simple/simple-element.scss";
@import "../header_elements/username/username";

body{
    margin: 0px 0px;
}

[class $= __header-no-reg-content]{
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    * {
        font-family: Montserrat;
    }

    .header-no-reg-content__company-icons{
        cursor: pointer;
        margin-left: 140px;
        margin-right: auto;
    }

    .header-no-reg-content__navigation{
        display: flex;
        flex-direction: row;
        align-content: center;
        > * {
            margin: 0px 15px;
        }
    }   
    .header-no-reg-content__username{
        margin-left: 30px;
        margin-right: 140px;
    }
}

@media all and (max-width: 1130px){
    [class $= __header-no-reg-content]{
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        > * {
            margin: 10px 0px !important;
        }
    }
}

@media all and (max-width: 500px){
    [class $= __header-no-reg-content]{
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        > * {
            flex-direction: column !important;
            align-items: center !important;
            margin: 10px 0px !important;
        }

        .header-no-reg-content__navigation{
            > * {
                margin: 10px 0px !important;
            }
        }
    }
}









