mixin header-no-registration(modificator)
    div(class = modificator + "__header-no-reg-content")
        div(onclick="window.location.href='http://localhost:1234/landing_page/index.html'").header-no-reg-content__company-icons
            include ../../icons/company_icon/logotype.pug
            +logotype("header-no-reg-content__header-logo")
        .header-no-reg-content__navigation
            include ../header_elements/navigation/drop-down/drop-down-element.pug
            include ../header_elements/navigation/simple/simple-element.pug
            +simple-element("header-no-reg-content__nav-simple", "Домой")
            +simple-element("header-no-reg-content__nav-simple", "О нас")
            +drop-down-element("header-no-reg-content__nav-drop", "Услуги")
            +simple-element("header-no-reg-content__nav-simple", "Вакансии")
            +simple-element("header-no-reg-content__nav-simple", "Новости")
            +drop-down-element("header-no-reg-content__nav-drop", "Соглашения")
        .header-no-reg-content__username
            include ../header_elements/username/username.pug
            +username("header-no-reg-content__username-line", "Cosmin Negoita")
        
