doctype
include /header/header.pug
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Главная страница"
        link(rel = "stylesheet" href = "landing-page.scss")
    body
        header
            +logotype("header-logo")
            
