doctype
mixin light_button(modificator, text)
    div(class="logo "+ modificator)= text

html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Главная страница"
        link(rel = "stylesheet" href = "landing-page.scss")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        script(src="library.js")
        script(src="landing-page.js")
        script(src="../ui_kit/buttons/clear-accept-buttons/clear-accept-buttons.js")
        script(src="../ui_kit/buttons/filled/button-filled.js")
        script(src="../ui_kit/buttons/light/button-light.js")
        script(type="text/javascript").
            $(function(){ var CalendarStartDate = "someText"; var CalendarEndDate = "someText";});
            var modificator = "search-form-list";
            var inputField = "search-form-list";
            function fillDate() {
                if(CalendarStartDate == "" || CalendarEndDate == ""){
                    $('.search-form__start-date').val("");
                    $('.search-form__end-date').val("");
                    return;
                }
                $('.search-form__start-date').val(CalendarStartDate.getDate() + "." + CalendarStartDate.getMonth() + "." + CalendarStartDate.getFullYear());
                $('.search-form__end-date').val(CalendarEndDate.getDate() + "." + CalendarEndDate.getMonth() + "." + CalendarEndDate.getFullYear());
            }
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    body
        header
            include ../ui_kit/header/header-no-registration/header-no-registration.pug
            include ../ui_kit/header/header-registration/header-registration.pug
            
            +header-registration("landing")
            +header-no-registration("landing")

        .main
            include main/search-form/search-form.pug
            +search-form("landing-page")
            include main/reg-form/reg-form.pug
            +reg-form("landing-page")
            include main/enter-form/enter-form.pug
            +enter-form("landing-page")
            div.filler                  
        footer
            include ../ui_kit/footer/footer_elements/footer-main-content/footer-main-content.pug
            +footer-main-content("landing-page-footer")
            include ../ui_kit/footer/footer_elements/footer-underline-content/footer-underline-content.pug
            +footer-underline-content("landing-page-footer-underline")
        

            
