doctype
mixin light_button(modificator, text)
    div(class="logo "+ modificator)= text

html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Главная страница"
        link(rel = "stylesheet" href = "landing-page.scss")
    body
        header
            include ../ui_kit/header/header-no-registration/header-no-registration.pug
            
