doctype
mixin light_button(modificator, text)
    div(class="logo "+ modificator)= text

html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Главная страница"
        link(rel = "stylesheet" href = "landing-page.scss")
    body
        header
            include ../ui_kit/header/header-no-registration/header-no-registration.pug
            +header-no-registration("landing-header")
        .main
            include main/search-form/search-form.pug
            +search-form("landing-page-search-form")
        footer
            include ../ui_kit/footer/footer_elements/footer-main-content/footer-main-content.pug
            +footer-main-content("landing-page-footer")
            include ../ui_kit/footer/footer_elements/footer-underline-content/footer-underline-content.pug
            +footer-underline-content("landing-page-footer-underline")

            
