.button-light {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;
    border-radius: 20px;
    background-clip: padding-box;
    background: white;
    color: #BC9CFF;
    padding: 0px 20px;


    div {     
        -webkit-user-select: none;   
        margin: auto 0px; 
        align-items: center;
    }
}

.button-light::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    content: '';
    z-index: -1;
    border-radius: 22px;
}

.button-light-clicked::after{
    opacity: 0.5;
}