.text-header{
    //font-family: Quicksand;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}

.sub-text-header{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 9px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 8px;
}