doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title= "Страница комнаты"
        link(rel = "stylesheet" href = "room_page.scss")
        script(src="js/library.js")
        script(src="js/room_page.js")
    body
        header
            include ../ui_kit/header/header-registration/header-registration.pug
            +header-registration("room-page-header")
        .main
            div.main__image_container
                div.main__central_image
                div.main__vertical_images
                    div.main__second_image
                    div.main__third_image
            div.main__content
                div.main__information-block
                    div.main__benefits
                        div.main__benefits-description Сведения о номере
                        div.main__benefit
                            div.material-icons.main__pic insert_emoticon
                            div.main__benefit-description <b>Комфорт</b><br>Шумопоглощающие стены
                        div.main__benefit
                            div.material-icons.main__pic location_city
                            div.main__benefit-description <b>Удобство</b><br>Окно в каждой из спален
                        div.main__benefit
                            div.material-icons.main__pic whatshot
                            div.main__benefit-description <b>Уют</b><br>Номер оснащён камином
                    div.main__disco-reviews
                        div.main__disco-description Впечатления от номера
                        div.main__disco-content
                            div.main__disco-img
                                <svg class="main__disco-circle">
                                    <linearGradient id="bad-gradient">
                                        <stop offset="0%" stop-color="#919191"/>
                                        <stop offset="100%" stop-color="#3D4975"/>
                                    </linearGradient>
                                    <linearGradient id="norm-gradient">
                                        <stop offset="0%" stop-color="#BC9CFF"/>
                                        <stop offset="100%" stop-color="#8BA4F9"/>
                                    </linearGradient>
                                    <linearGradient id="good-gradient">
                                        <stop offset="0%" stop-color="#6FCF97"/>
                                        <stop offset="100%" stop-color="#66D2EA"/>
                                    </linearGradient>
                                    <linearGradient id="delis-gradient">
                                        <stop offset="0%" stop-color="#FFE39C"/>
                                        <stop offset="100%" stop-color="#FFBA9C"/>
                                    </linearGradient>
                                    <circle class="circleBad"></circle>
                                    <circle class="circleNorm"></circle>
                                    <circle class="circleGood"></circle>
                                    <circle class="circleDelis"></circle>
                                </svg>
                                div.main__disco-text
                                    span 260
                                    span голосов
                            div.main__disco-description
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Великолепно
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Хорошо
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Удовлетворительно
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Разочарован
                div.main__text-reviews
                    div.main__text-review-description
                        span Отзывы посетителей номера
                        span 2 отзыва
                    include ../ui_kit/review/review.pug
                    +review("main", "../ui_kit/icons/profile/1.svg", "<b>Мурад Сарафанов</b><br>5 дней назад", 12, "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
                    +review("main", "../ui_kit/icons/profile/2.svg", "<b>Патрисия Стёклышкова</b><br>Неделю назад", 2, "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")

                div.main__addirional-information-block
                    div.main__rules
                        div.main__rules-description Правила
                        ul.main__list-of-rules
                            li Нельзя с питомцами
                            li Без вечеринок и мероприятий
                            li Время прибытия — после 13:00, а выезд до 12:00
                    div.main__cancel-rules
                        div.main__cancel-description Отмена
                        div.main__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                
                    
        footer
            include ../ui_kit/footer/footer_elements/footer-main-content/footer-main-content.pug
            +footer-main-content("room-page-footer")
            include ../ui_kit/footer/footer_elements/footer-underline-content/footer-underline-content.pug
            +footer-underline-content("room-page-footer-underline")
