doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title= "Страница комнаты"
        link(rel = "stylesheet" href = "room_page.scss")
        script(src="js/library.js")
    body
        header
            include ../ui_kit/header/header-registration/header-registration.pug
            +header-registration("room-page-header")
        .main
            div.main__image_container
                div.main__central_image
                div.main__vertical_images
                    div.main__second_image
                    div.main__third_image
            div.main__content
                div.main__information-block
                    div.main__benefits
                        div.main__benefits-header Сведения о номере
                        div.main__benefit
                            div.material-icons.main__pic insert_emoticon
                            div.main__benefit-description <b>Комфорт</b><br>Шумопоглощающие стены
                        div.main__benefit
                            div.material-icons.main__pic location_city
                            div.main__benefit-description <b>Удобство</b><br>Окно в каждой из спален
                        div.main__benefit
                            div.material-icons.main__pic whatshot
                            div.main__benefit-description <b>Уют</b><br>Номер оснащён камином
                    div.main__disco-reviews
                        div.main__disco-description Впечатления от номера
                        div.main__disco-content
                            div.main__disco-img
                                <svg class="main__disco-circle">
                                    <linearGradient id="bad-gradient">
                                        <stop offset="0%" stop-color="#919191"/>
                                        <stop offset="100%" stop-color="#3D4975"/>
                                    </linearGradient>
                                    <linearGradient id="norm-gradient">
                                        <stop offset="0%" stop-color="#BC9CFF"/>
                                        <stop offset="100%" stop-color="#8BA4F9"/>
                                    </linearGradient>
                                    <linearGradient id="good-gradient">
                                        <stop offset="0%" stop-color="#6FCF97"/>
                                        <stop offset="100%" stop-color="#66D2EA"/>
                                    </linearGradient>
                                    <linearGradient id="delis-gradient">
                                        <stop offset="0%" stop-color="#FFE39C"/>
                                        <stop offset="100%" stop-color="#FFBA9C"/>
                                    </linearGradient>
                                    <circle class="circleBad"></circle>
                                    <circle class="circleNorm"></circle>
                                    <circle class="circleGood"></circle>
                                    <circle class="circleDelis"></circle>
                                </svg>
                                div.main__disco-text
                                    span 260
                                    span голосов
                            div.main__disco-description
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Великолепно
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Хорошо
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Удовлетворительно
                                div.main__disco-description-row
                                    div.main__disco_descritpion-color
                                    span Разочарован
                div.main__text-reviews
                div.main__addirional-information-block
                    div.main__rules
                    div.main__cancel-rules
                
                    
        footer
            include ../ui_kit/footer/footer_elements/footer-main-content/footer-main-content.pug
            +footer-main-content("room-page-footer")
            include ../ui_kit/footer/footer_elements/footer-underline-content/footer-underline-content.pug
            +footer-underline-content("room-page-footer-underline")
