@import "../ui_kit/header/header-registration/header-registration";
@import "../ui_kit/footer/footer_elements/footer-main-content/footer-main-content";
@import "../ui_kit/footer/footer_elements/footer-underline-content/footer-underline-content";
@import "../ui_kit/fonts/Material_Icons/material-icons.css";
@import "../ui_kit/calendar/calendar";
@import "../ui_kit/list-of-counted-items/list-of-counted-items";
@import "../ui_kit/review/review.scss";

@import "../ui_kit/fonts/montserrat/montserrat.css";
@import "../ui_kit/fonts/quicksand/quicksand.css";

.main{

    * {
        font-family: Montserrat;
    }

    .main__image_container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 485px;

        .main__central_image{
            height:100%;
            width:68%;
            background-image: url("../ui_kit/images/room_images/888.svg");
            background-size: cover;
        }

        .main__vertical_images{
            height: 485px;
            width:32%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            div{
                width: 100%;
                height: 50%;
            }
            .main__second_image{
                background-image: url("../ui_kit/images/room_images/956.svg");
                background-size: cover;
            }

            .main__third_image{
                background-image: url("../ui_kit/images/room_images/980.svg");
                background-size: cover;
            }
        }
    }

    .main__content{
        margin-left: 140px;
        margin-top: 70px;
        width: 50%;
        height: 800px;

        .main__information-block{
            height: 40%;
            display: flex;
            flex-direction: row;
            .main__benefits{
                width: 50%;
                height: 100%;

                .main__benefits-description{
                    //font-family: Quicksand;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 24px;
                    color: #1F2041;
                }

                :last-child{
                    border-bottom: none !important;
                }

                .main__benefit{
                    height: 65px;
                    width: 280px;
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;

                    .main__pic{
                        width: 48px;
                        height: 48px;
                        text-align: center;
                        font-family: Material Icons;
                        font-size: 48px;
                        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .main__benefit-description {
                        margin-left: 10px;
                        font-family: Montserrat;
                        font-size: 14px;
                        line-height: 24px;
                        color: rgba(31, 32, 65, 0.75);
                    }

                    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
                }
            }
            .main__disco-reviews{
                width: 50%;
                height: 100%;

                .main__disco-description {
                    //font-family: Quicksand;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 24px;
                    color: #1F2041;
                }
                .main__disco-content{

                    display: flex;
                    flex-direction: row;
                    
                    .main__disco-img{
                        margin-top: 21px;
                        position: relative;
                        width: 121px;
                        height: 121px;
                        .main__disco-circle{
                            
                            .circleBad {
                                cx: 60px;
                                cy: 60px;
                                r: 60px;
                                fill: transparent;
                                stroke: url(#bad-gradient);
                                stroke-width: 0px;
                                stroke-dasharray: 157px 157px;
                                stroke-dashoffset: -77px;
                            }

                            .circleNorm {
                                cx: 62px;
                                cy: 63px;
                                r: 60px;
                                fill: transparent;
                                stroke: url(#norm-gradient);
                                stroke-width: 4px;
                                stroke-dasharray: 138px 343px;
                                stroke-dashoffset: 197px;
                            }

                            .circleGood {
                                cx: 62px;
                                cy: 63px;
                                r: 60px;
                                fill: transparent;
                                stroke: url(#good-gradient);
                                stroke-width: 4px;
                                stroke-dasharray: 90px 309px;
                                stroke-dashoffset: -2px;
                            }
                            
                            .circleDelis {
                                cx: 62px;
                                cy: 63px;
                                r: 60px;
                                fill: transparent;
                                stroke: url(#delis-gradient);
                                stroke-width: 4px;
                                stroke-dasharray: 186px 186px;
                                stroke-dashoffset: -95px;
                            }
                        }

                        .main__disco-text{
                            position: absolute;
                            top: 39px;
                            left: 35px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            span {
                                //font-family: Quicksand;
                                font-style: normal;
                                font-weight: bold;
                                color: #BC9CFF;
                            }

                            :first-child{
                                font-size: 24px;
                                line-height: 30px;
                            }

                            :last-child{
                                font-size: 12px;
                                line-height: 15px;
                            }
                        }
                    }
                    
                    .main__disco-description{
                        margin-left: 30px;
                        margin-top: 54px;
                        height: 96px;
                        width: 160px;
                        display: flex;
                        flex-direction: column;

                        .main__disco-description-row{
                            height: 24px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .main__disco_descritpion-color{
                                width: 10px;
                                height: 10px;
                                margin-right: 5px;
                                border-radius: 5px;
                            }

                            span{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 24px;                            
                                color: rgba(31, 32, 65, 0.75);
                            }
                        }

                        :nth-child(1){
                            .main__disco_descritpion-color{
                                background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
                            }
                        }

                        :nth-child(2){
                            .main__disco_descritpion-color{
                                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                            }
                        }

                        :nth-child(3){
                            .main__disco_descritpion-color{
                                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                            }
                        }

                        :nth-child(4){
                            .main__disco_descritpion-color{
                                background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
                            }
                        }
                    }
                }
            }
        }
        .main__text-reviews{
            //height: 34%;
            width: 100%;

            
            .main__text-review-description{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                :first-child{
                    //font-family: Quicksand;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 24px;
                    color: #1F2041;
                }

                :last-child{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 14px;
                    text-align: right;

                    color: rgba(31, 32, 65, 0.5);
                }
            }

                            
            [class$= __review]{
                margin-top: 23px;
            }

        }

        .main__addirional-information-block{
            height: 26%;
            display: flex;
            flex-direction: row;
            margin-top: 30px;

            .main__rules{
                width: 50%;
                height: 100%;

                .main__rules-description{
                    //font-family: Quicksand;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 24px;
                    color: #1F2041;
                    margin-left: 20px;
                }
                ul{
                    padding-inline-start: 20px;
                    margin-block-start: 20px;
                    :first-child{
                        margin-top: 0px;
                    }

                    li{
                        position: relative;
                        list-style-type: none;
                        margin-top: 10px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 24px;
                        color: rgba(31, 32, 65, 0.75);
                    }

                    li:before {
                        top: 6.5px;
                        left: -16px;
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 5px;
                        background: rgba(31, 32, 65, 0.25);
                    }
                }
            }
            .main__cancel-rules{
                width: 50%;
                height: 100%;

                .main__cancel-description{
                    //font-family: Quicksand;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 24px;
                    color: #1F2041;
                    margin-left: 20px;
                }

                .main__cancel-text{
                    margin-top: 20px;
                    margin-left: 20px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(31, 32, 65, 0.75);
                }   
            }
        }
    }
}

@media all and (max-width: 900px){
    .main__image_container{
        flex-direction: column !important;
        height: 1200px;
        .main__central_image{
            width:100% !important;
            height:60% !important;
        }
        .main__vertical_images{
            flex-direction: row !important;
            height: 40% !important;
            width: 100% !important; 
            div{
                width: 50% !important;
                height: 100% !important;
            }
        }
    }
}

@media all and (max-width: 1130px){
    .main{
        .main__content{
            height: auto;
            margin-left: auto;
            margin-right: auto;
            width: 100%;

            div.main__information-block{
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;

                .main__benefits{
                    width: 100%;
                    .main__benefits-description{
                        text-align: center;
                    }
                    .main__benefit{
                        margin-left: auto;
                        margin-right: auto;
                        justify-content: center;
                    }
                }
                .main__disco-reviews{
                    width: 100%;

                    .main__disco-description{
                        text-align: center;
                    }

                    .main__disco-content{
                        justify-content: center;
                    }
                }
            }

            div.main__text-reviews{
                width: 60%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }

            div.main__addirional-information-block{
                width: 50%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                flex-direction: column;

                .main__rules{
                    width: 100%;
                    .main__rules-description{
                        margin-left: 0px;
                        text-align: center;
                    }
                }

                .main__cancel-rules{
                    width: 100%;
                    .main__cancel-description{
                        margin-left: 0px;
                        text-align: center;
                    }
                    .main__cancel-text{
                        margin-left: 0px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1130px){
    .main{
        .main__content{
            div.main__information-block{
                flex-direction: column;
            }
        }
    }
}

@media all and (max-width: 1130px){
    .main{
        .main__content{
            div.main__information-block{
                width: 90% !important;
            }
            div.main__text-reviews{
                width: 90% !important;
            }
            div.main__addirional-information-block{
                width: 90% !important;
            }
        }
    }
}