mixin list-of-counted-items(modificator, script, ...items)
    script(src = script)
    div(class="list-of-counted-items " + modificator)
        each item in items
            div.list-of-counted-items__item
                div.list-of-counted-items__item-description= item
                div.button.button_minus(id = modificator + "__minus-button") -
                div.item-number 0
                div.button.button_plus(id = modificator + "__plus-button") + 
        include ../buttons/clear-accept-buttons/clear-accept-buttons.pug
        +clear-accept-buttons("list-of-counted-items__down-buttons", modificator + "__clean-button", modificator + "__save-button")