.calendar{
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;

    .calendar__selector{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 30px;

        .calendar__date{
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 24px;
        }

        .material-icons.calendar-arrow {
            width: 44px;
            text-align: center;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
            display: initial; 
        }
    }

    .calendar__main{
        .calendar__days-name{
            font-family: Montserrat;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            * { 
                height: 40px;
                line-height: 40px;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;    
                color: #BC9CFF;
            }
        }
        .calendar__days{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        
            .day{
                cursor: pointer;
                -webkit-user-select: none;
                text-align: center;
                //line-height: 40px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                width: 14.2%;     
            }

            //Стили нажатий на календарь
            .pushed-up{
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                border-radius: 22px;
                color: #FFFFFF !important;
            }

            .pushed-down{
                background: linear-gradient(180deg, rgba(111, 207, 151, 0.445) 0%, rgba(102, 210, 234, 0.466) 100%);
                border-radius: 22px;
                color: #FFFFFF !important;
            }

            .mouse-on{
                background: rgba(145, 145, 145, 0.11);
                border-radius: 22px;
            }

            .other-month-day{
                color: rgba(31, 32, 65, 0.25);
            }

            .curr-month-day{
                color: rgba(31, 32, 65, 0.5);
            }

            .selected-day{
                z-index: 10;
                font-weight: bold;
                border-radius: 22px;
                color: #FFFFFF !important;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
            }

            .selected-day-in-period{
                position: relative;
                z-index: 10;
                font-weight: bold;
                border-radius: 22px;
                color: #FFFFFF !important;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
            }

            .selected-day-in-period.start::before{
                width: 20px;
                height: inherit;
                content: '';
                right: 0px;
                z-index: -1;
                position: absolute;
                border-radius: 0px;
                background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 80%);
            }

            .selected-day-in-period.end::before{
                width: 20px;
                height: inherit;
                content: '';
                left: 0px;
                z-index: -1;
                position: absolute;
                border-radius: 0px;
                background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 80%);
            }

            .day-in-period{
                background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 80%);
            }
        }
        
    }
    @import "../buttons/clear-accept-buttons/clear-accept-buttons";
    
    .calendar__down-buttons{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
