mixin clear-accept-buttons(modificator, clear_id, accept_id)
    div(class = "clear-accept-buttons " + modificator)
            div.clean-button(id = clear_id) ОЧИСТИТЬ
            div.save-button(id = accept_id) ПРИМЕНИТЬ