mixin clear-accept-buttons(modificator, clear_id, accept_id)
    div(class = modificator + " clear-accept-buttons")
            div.clean-button(id = clear_id) ОЧИСТИТЬ
            div.save-button(id = accept_id) ПРИМЕНИТЬ