@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-100-normal.woff2') format('woff2'), url('montserrat-100-normal.woff') format('woff'), url('montserrat-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-300-normal.woff2') format('woff2'), url('montserrat-300-normal.woff') format('woff'), url('montserrat-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-400-normal.woff2') format('woff2'), url('montserrat-400-normal.woff') format('woff'), url('montserrat-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-700-normal.woff2') format('woff2'), url('montserrat-700-normal.woff') format('woff'), url('montserrat-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-900-normal.woff2') format('woff2'), url('montserrat-900-normal.woff') format('woff'), url('montserrat-900-normal.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}