include ../../ui_kit/header_elements/company_icon/logotype.pug
include ../../ui_kit/header_elements/buttons/light/button-light.pug
include ../../ui_kit/header_elements/buttons/filled/button-filled.pug
.header_content
    .company-icons
            +logotype("header-logo")
    .header-buttons
            +button-light("header-button-light", "LOGIN")
            +button-filled("header-button-filled", "REGISTRATION")