include ../../ui_kit/header_elements/company_icon/logotype.pug
include ../../ui_kit/header_elements/buttons/light/button-light.pug
.header_content
    .company_icons
            +logotype("header-logo")
            +button-light("header-button-light", "LOGIN")      